body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}
/*=========================================================== Navigaton Bar ===================================================*/
.navdefault {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(71, 62, 62);
    height: 50px;
    color: #0997d3;
    z-index: 3;
}

.boxbtn {
    width: 50px;
    height: 50px;
    background-color: orange;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -30px 39px 65px -10px rgba(0,0,0,0.25);
    border-color: #0997d3;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    align-items: flex-end;
    z-index: 3;
}

.boxbtn:hover {
    width: 400px;
    height: 100px;
    border-radius: 0px 0px 0px 50px;
    border-width: 0px 0px 0px 30px;
}

.boxbtn i {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}

.navinline {
    display: flex;
}

ul {
     list-style-type: none;
}

li {
    padding: 0px 10px;
    position: relative;
    padding-top: 30px;
}

/*=========================================================== Jumbotron  ===================================================*/
/*------------------------------------------------------------- Index ------------------------------------------------------*/
.jumbotron {
    padding: 0;
}

.homemainview {
    background-attachment: fixed;
    background-image: url(../images/butterfly.jpg);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: -1;
}
.top {
    padding: 12px;
    margin-top: 50px;
}

/*----------------------------------------------------------- About (carousel)--------------------------------------------------------*/

.front-about-image {
    position: absolute;
    display: inline-flex;
    z-index: 2;
    
}
.carousel-inner {
    width: fit-content;
}
.carousel {
    margin-bottom: 0px;
}

.profile-image {
    background-attachment: scroll;
    background-image: url(../images/michaeleaston.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    right: 110px;
    filter: grayscale(0%);
}
.d-block {
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-position: center;
    filter: grayscale(100%);
}

.carousel-item {
    /*background-size: contain;
    position: relative;
    z-index: -1;
    background-attachment: fixed;*/
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: -1;
        
}



/*----------------------------------------------------------- Experience ----------------------------------------------------*/
.experiencemainview {
    background-attachment: fixed;
    background-image: url(../images/desert.jpg);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
}



.Main-Timeline {
    display: block;
}
.timeline {
    display: inline-flex;
}

/*.col-md-7 {
    padding-right: 20px;
    padding-left: 20px;
}
  text-decoration-style: none;
    position: bottom;
#TimelineBlock {
    display: inline-block;
}*/



@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 250px;
        margin: 0 auto;
        max-width: 40%;
    }
}