/*============================================================= General ==================================================================*/

@import url('https://fonts.googleapis.com/css?family=Exo|Fira+Sans&display=swap:100,200,300,400,500,600,700,800,900|Fira+sans:100,200,300,400,500,600,700,800,900');

body {
    font-family:  'Fira Sans', 'Exo', sans-serif;
    font-size: 17px;
    color: whitesmoke;
    height: 100%;
}

/*----------------- General Temporay Stuff --------------------*/

/*
<i class="fas fa-sign-language"></i>
<i class="far fa-sign-language"></i>
*/


/*---------------------- Modal-Form ---------------------*/

.modal { /*this is the fix form that should be for all modal*/
  position: fixed;
  background-color: rgba(255, 255, 255, 0.726);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 1050;
  transition: all 0.3s;
  text-align: left;
  margin:40px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
  padding-right:0px;
  pointer-events: none;
}
.modal-open {
  padding-right: 0px!important;
  overflow-x: hidden;
  overflow-y: hidden;
}
.modal-dialog {
  pointer-events: auto;
  justify-content: center;
  width: auto;
  margin: 0px;
  max-height: -webkit-fill-available;
}
.modal-content {
  max-height: -webkit-fill-available;
  color: #000;
  font-family: inherit;
  border: 2px solid coral;
  border-radius: 20px;
  width: fit-content;
  /*width: 100vw; check this out
  height: 100vh;*/
}
.modal-header {
  border-bottom: 2px solid blue;
}
.mca {
  /*height: -webkit-fill-available;*/
  width: 100%;
}
#exit-button {
  font-size: 1em;
}

/*------------------------- END -------------------------*/



/*--------------------------------------------------------------- BG-Colors ----------------------------------------------------------------*/

#nav-index {
    background-image: linear-gradient(black, black), url(../images/home/sunset.jpg);
    background-blend-mode: saturation;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
    z-index: -6;
    padding: 0;
    margin: 0;
}
#nav-about { /* NOTE- this is not Bg images due to Carousel */
  padding: 0;
  display: flex;
}
#nav-ex {
  background-image: linear-gradient(black, black), url(../images/experience/img-bg-climb.jpg);
  background-blend-mode: saturation;
  background-attachment: fixed;
  background-size: cover;
  padding:0;
  margin: 0;
  min-height:100vh;
  display: grid;
}
#nav-test {
  background-image: linear-gradient(black, black), url(../images/experience/img-climb3.JPG);
  background-blend-mode: saturation;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  padding:0;
  margin: 0;
  min-height:100vh;
}
#nav-service {
  background-image: linear-gradient(black, black), url(../images/experience/img-snow3.jpg);
  background-blend-mode: saturation;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding:0;
  margin: 0;
  min-height:100vh;
}
#nav-booking {
  background-image: linear-gradient(black, black), url(../images/experience/img-snow3.jpg);
  background-blend-mode: saturation;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding:0;
  margin: 0;
  min-height:100vh;
}
#nav-contact {
  background-image: linear-gradient(black, black), url(../images/about/carousel/surf.jpg);
  background-blend-mode: saturation;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding:0;
  margin: 0;
  min-height:100vh;
}
/*--------------------------------------------------------------- END ---------------------------------------------------------------------*/

/*========================================================== END OF General ===============================================================*/




/*============================================================= Navigation ===============================================================*/




/*------------------------ Button Style ----------------*/
input[type=button], 
input[type=submit], 
input[type=reset],
input[type=enter] {
  background-color: #178bf7;
  border: 2px solid coral;
  color: whitesmoke;
  padding: 8px 30px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  border-radius:10px;
  font-family: 'Fira Sans', sans-serif;
  font-size: large;
  margin-top: auto;
}
/*------------------------- END -------------------------*/

/*------------------- Dropdown Style --------------------*/
.navbar {
  justify-content: flex-end;
  background-color: transparent;
  margin-right: 80px;
}
#bars-icon {
  top: 50px;
  float: right;
  position: fixed;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  align-self: center;
  background-color: coral;
  border: 2px solid  #178bf7;
  color: #178bf7;
}
#bars-icon:hover {
  background-color: #178bf7;
  border: 2px solid coral;
  color: coral;
  transition: background-color .10s ease-in-out, color .10s ease-in-out;
}
.dropdown {
  position: absolute;
  z-index: 1;
}
.dropdown-content {
  display:none;
  position: fixed;
  list-style: none;
  letter-spacing: 8px;
  font-weight: bold;
  font-size: large;
  width: 350px;
  top: 103px;
  right: 43px;
  margin: 0px;
  padding: 0;
  z-index: -1;
  
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: display .3s ease-in-out, color .3s ease-in-out;
}
.dropdown-item {
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: right;
  padding: 10px 5px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(75, 75, 80));
}
.dropdown-item:hover {
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(75, 75, 80));
  background-color: transparent;
}
a {
  color: coral;
}
a:hover { 
  color: whitesmoke;
  font-weight: bolder;
  text-decoration-line: none;
  background-color: transparent;
  transition: font-weight .3s ease-in-out, color .3s ease-in-out;
}
/*------------------------- END -------------------------*/

/*======================================================== END OF Navigation ============================================================*/









/*=========================================================== Jumbotron  ===============================================================*/
.jumbotron {
  padding: 20px;
  margin: 0;
  background-color: transparent;
}



/*--------------- Jumbotron heading style ----------------*/
.section-title {
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 6px;
    padding-top: 20px;
}
.block-divider {
    border-top: 4px solid #178bf7;
    max-width: 250px;
    height: 5px;
}
.block-divider2 {
  border-top: 4px solid coral;
  max-width: 250px;
  height: 5px;
}
/*------------------------- END -------------------------*/





/*----------------------------------------------------------------- INDEX ------------------------------------------------------------------*/

#index-display {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: auto;
}
.name{
  letter-spacing: 6px;
  word-spacing: 10px;
}
.icon-button {
  display: block;
  text-align: center;
  text-align: -webkit-center;
  -moz-text-align: center;
  padding: 3px;
  word-spacing: 30px;
}
#btn-index {
  display: block;
  margin: 15px auto;
}

.btn-info {
  border-radius: 10px;
  color: coral;
  font-style: bold;
  border: 2px solid coral;
}

/*------------------------- Heading Logo --------------------*/

.nav-top-title {
  display: flex;
  justify-content: flex-end;
  padding-left: 70px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  text-align: center;
}
.backtofitness {
  padding-right: 0px;
  font-style: italic;
  display: flex;
  margin: 0;
}
.backtofitness span {
  font-weight: bold; 
}
.fa-angle-double-right {
  font-size: 2em;
}
.fa-angle-double-left {
  font-size: 5em;
}
.fa-running {
  font-size: 4em;
  align-self: center;
}

/*------------------------- END -------------------------*/






/*----------------------------------------------------------- END OF INDEX ------------------------------------------------------------------*/



/*--------------------------------------------------------------- ABOUT ---------------------------------------------------------------------*/

#profile-img {
  background-image: url(../images/about/shellmicheal.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  height: 100vh;
}
.frontabout {
  display: flex;
  align-items: center;
  background-color: transparent;
  height:100vh;
}
.container-about{
  color: white;
  margin-bottom: 80px;
  margin-top: 78px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid coral;
  background-color: rgba(189, 183, 183, 0.438);
  text-align: center;
}



/*------------------------------- carousel ---------------------------*/

.jumbotron-carousel {
  margin-bottom: 0px;
}
.jumbotron-carousel-inner {
  position: absolute;
  width: 100wh;
}
.jumbotron-carousel-item {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: -1;
}

#carousel-img-1 {
  background-image: url(../images/about/carousel/water.jpg);
}
#carousel-img-2 {
  background-image: url(../images/about/carousel/surf.jpg);
}
#carousel-img-3 {
  background-image: url(../images/about/carousel/flowers.jpg);
  }
#carousel-img-4 {
  background-image: url(../images/about/carousel/desert.jpg);
}

/*-------------------------------END ----------------------------------*/



/*----------------------------------------------------------- END OF ABOUT ------------------------------------------------------------------*/




/*------------------------------------------------------------ EXPERIENCE -------------------------------------------------------------------*/

.date {
  padding: 20px;
}
.btn-ex {
  position: relative;
  align-content: center;
}
.align-self-center i {
  padding: 10px;
  color: coral;
}
#Climbing-icon {
  padding: 10px;
  color: coral;
}
.card-a {
  border: 2px solid coral;
  background-color: rgba(189, 183, 183, 0.438);
  height: 550px;
}
.card-item {
  padding:15px;
}
.card-body {
  padding:6px;
  text-align: center;
  display: contents;
}
.card-title {
  color: coral;
  text-align: center;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: x-large;
}
.modified-row {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
}


/*-------------------------------------(Modal-Carousel) -----------------------------------------------*/
.crossx {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
  color: whitesmoke;
  font-size: 2em;
}
.fa-chevron-circle-left,
.fa-chevron-circle-right {
  font-size: xx-large;
  padding: 10px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  border-radius: 20px;
}
.carousel-control-prev {
  background-image: linear-gradient(to right, rgba(255,127,80,1), rgba(255,0,0,0));
}
.carousel-control-next {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,127,80,1));
}
.carousel-caption {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,127,80,1), rgba(255,0,0,0));
}
.carousel-indicators li {
  width: 70px;
  height: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.carousel-indicators {
  margin-bottom: 20px;
}
.carousel-item img { 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding:0;
  margin: 0;
}
/*#img2 {
  transform: rotate(90deg);
  min-height:100vw;
  background-size: 170%;
}
  max-height: calc(100vw - 60px);
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-position-x: -30px;
  
  transform: rotate(90deg);
*/

/*#Caro-Ski-img-1 {
  background-image: url(../images/experience/img-climb1.JPG);

}
  background-position: center;
  background-size: 120%;


#Caro-PT-img-1 {}

#Caro-CI-img-1 {}

#Caro-LG-img-1 {}*/

/*----------------------------------------------------- END -----------------------------------------------*/


/*---------------------------------------------------------- END OF EXPERIENCE ---------------------------------------------------------------*/





/*------------------------------------------------------------ TESIMONIALS -------------------------------------------------------------------*/

.round-images {
  border-color: 4px coral;
  background-position: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.stars {
  color:coral;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 15px;
}
.fa-quote-left {
  padding-right: 40px;
  color:coral;
}
.fa-quote-right {
  padding-left: 40px;
  align-self: flex-end;
  float: right;
  color:coral;
}
.flex-container i {
 padding: 6px;
}
.quoteblock-right {
  justify-content: center;
}
.quoteblock-left {
  justify-content: center;
}
.flex-container {
  display: block;
  text-align: center;
  text-align: -webkit-center;
  -moz-text-align: center;
  padding: 0px;
}
.media {
   display: block;
   flex-direction: column;
}
.media-body {
  background-color: rgba(189, 183, 183, 0.438);
  border-radius: 20px;
  padding: 10px;
}
.quoteblock {
  padding: 25px;
  margin-bottom: 0px;
  justify-content: center;
}
.quote-name {
  align-items:center;
  font-weight: bold;
  text-align: center;
}
#img-block-1 {
  background-image: url(../images/testimonials/michaeleaston.png);
  background-position-y: 0px;
  background-size: 140%;
}
#img-block-2 {
  background-image: url(../images/testimonials/tomreb.jpg);
  background-position-y: -60px;
  background-size: 120%;
}
#img-block-3 {
  background-image: url(../images/testimonials/tara.JPG);
  background-position-y: -50px;
  background-position-x: -100px;
  background-size: 200%;
}
#img-block-4 {
  background-image: url(../images/testimonials/lucasjoyce.JPG);
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-position-x: -30px;
  background-size: 170%;
  transform: rotate(90deg);
}

/*------------------------------------------------------------END OF  TESIMONIALS -------------------------------------------------------------*/



/*----------------------------------------------------------------- SERVICE -------------------------------------------------------------------*/

.service-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 300px;
  min-height: 360px;
  margin: 2% auto;
  padding: 10px;
}
.service-title {
  align-self: center;
  margin-top: 10px;
}
.card>.block-divider2 {
  max-width: none;
}
.card {
  background-color: rgba(189, 183, 183, 0.438);
  flex: auto;
  border-radius: 15px;
  padding: 15px;
  
}
.icon-card-b {
  font-size: 3em;
  color:whitesmoke;
  padding: 15px;
}
.icon-svg {
  height:64px;
}
.card-b {
  display: inline-flex;
  align-self: center;
}
/*-----------------------------------------------------------------END OF SERVICE --------------------------------------------------------------*/


/*------------------------------------------------------------------- BOOKING ------------------------------------------------------------------*/
/*-----------------------------------------------------------------END OF BOOKING --------------------------------------------------------------*/

/*------------------------------------------------------------------- CONTACT ------------------------------------------------------------------*/
/*-----------------------------------------------------------------END OF CONTACT --------------------------------------------------------------*/



/*=============================================================== END OF JUMBOTRON  ============================================================*/





/*=================================================================== FOOTER  ==================================================================*/

.footer-link {
  position: relative;
  background-attachment: scroll;
  height:40px;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}
.expaind:hover {
  height: 250px;
  transition: height .3s ease-in-out, color .3s ease-in-out;
  
}
.expaind {
  height:40px;
  transition: height .3s ease-in-out, color .3s ease-in-out;
  position: relative;
  bottom: 0px;
  left: 0;
  right:0;
  padding-top: 8px;
  align-items: flex-start;
  margin-bottom: 0px;
  background-color: grey;
  z-index: 1;
}
.block-set {
  display: inline-flex;
  padding: 0;
}
.link-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-items a {
  padding-bottom: 20px;
  padding-top: 0px;
  height:35px;
}
img {
  padding: 0px;
  object-fit:cover;
  max-width: 100%;
  border-radius: 20px;
  max-height: -webkit-fill-available;
  /*width: -webkit-fill-available;*/
}
.row {
  margin-left: 0;
  margin-right: 0;
}

/*============================================================ END OF FOOTER  ==================================================================*/




/*============================================================= @MEDIAS  =======================================================================*/

/* ======================================================== mobile phones ==== */
@media screen and (max-width: 320px) { 
/*-------------------------------------------------------------- index --------*/
#index-display {
  margin-top: 10%;
  margin-left: 3%;
}
/*---------------------------------------- Heading Logo --*/
      .fa-angle-double-left {
        display: none;
      }
      .fa-running {
        display: none;
      }
      .fa-angle-double-right {
        font-size: 1em;
      }
      .navbar {
        margin-right: 50px;
      }
      .nav-top-title {
        padding-left: 5px;
        padding-right: 5px;
      }
      #backtothefitness {
        font-size: 1.5em;
      }
/*---------------------------------- End of Heading Logo --*/

/*------------------------------------------- Navigation --*/
      #bars-icon {
        top: 10px;
      }
      .dropdown-content {
        top: 66px;
        right: 14px;
      }
/*------------------------------------ End of Navigation --*/

/*-------------------------------------------------------------- About --------*/
#nav-about {
  min-height:100vh;
  background-attachment: scroll;
  padding:0;
  margin: 0;
}
      /*.container-about {
        margin-bottom: 10px;
      }*/

#nav-about:before {
  background-image: linear-gradient(black, black), url(../images/experience/img-training3.JPG);
  background-blend-mode: saturation;
  background-position: center;
  background-size: cover;
  min-height:100vw;
  transform: rotate(90deg);
  content: "";
  position: absolute;
  width: 200%;
  top: 27%;
  left: -50%;
  z-index: -1;
  padding:0;
  margin: 0;
}
      #profile-img {
        display:none;
      }
      .jumbotron-carousel-inner {
        display: none;
      }
/*-------------------------------------------------------- End of About --------*/

/*------------------------------------------------------------ experience ------*/
      .modified-row {
        margin-left: -15px;
        margin-right: -15px;
      }
      .modified-container {
        padding-left: 0px;
        padding-right: 0px;
      }

/*------------------------------------------- Carousel --*/
      .carousel-caption {
        display: none;
      }
      .carousel-indicators li {
        width: 40px;
        height: 5px;
        margin-right: 3px;
        margin-left: 3px;
      }
      .carousel-indicators {
      margin-bottom: 3px;
      }
      .modal {
        margin: 5px;
      }
/*------------------------------------- end of Carousel --*/

/*--------------------------------------------------- end of experience --------*/
}
/*--------------------------------------------------END OF (max-width: 320px)---*/

/* ========================================================= mobile phones === */
@media screen and (min-width: 360px) and (max-width: 825px) and (orientation: landscape) {
/*-------------------------------------------------------------- index --------*/
      #index-display {
        margin-top: 0%;
        margin-left: 3%;
      }
      .name {
        letter-spacing: 10px;
      }
      .title {
        font-size: 15px;
        margin-bottom: 0px;
      }
      .block-divider {
        margin-bottom: 5px;
        margin-top: 5px;
      }
      .mca {
        font-size: 14px;
        flex-direction: row;
      }
      .modal-title {
        display: none;
      }
      .modal-header {
        display: inline-flex;
        align-items: normal;
      }
      .modal {
        margin: 5px;
      }
/*---------------------------------------- Heading Logo --*/
.fa-angle-double-left {
  font-size: 2.5em;
}
.fa-angle-double-right {
  font-size: 1em;
}
.fa-running {
  display: block;
  font-size: 2.1em;
  align-self: center;
}
#backtothefitness {
  font-size: 1.5em;
}
.navbar {
  margin-right: 50px;
}
.nav-top-title {
  padding-left: 5px;
  padding-right: 5px;
}
/*---------------------------------- End of Heading Logo --*/

/*------------------------------------------- Navigation --*/
#bars-icon {
  top: 10px;
}
.dropdown-content {
  top: 66px;
  right: 14px;
  font-size: medium;
}
.dropdown-item {
  padding: 5px;
}
/*------------------------------------ End of Navigation --*/

/*-------------------------------------------------------------- About --------*/

      .container-about {
        margin-bottom: 50px;
        margin-top: 52px;/*check carefully on all lanscape mobiles*/
      }
      .description {
        margin-bottom: 0px;/*check carefully on all lanscape mobiles*/
      }
#nav-about {
  background-image: linear-gradient(black, black), url(../images/experience/img-trainingc.jpg);
  background-blend-mode: saturation;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  min-height:100vw;
  min-height:100vh;
  padding:0;
  margin: 0;
  z-index: -10;
}
#profile-img {
  display:none;
}
.jumbotron-carousel-inner {
  display: none;
}
.carousel-caption {
  display: none;
}
.carousel-indicators li {
  width: 40px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
}
.carousel-indicators {
margin-bottom: 3px;
}
/*-------------------------------------------------------- End of About --------*/

/*------------------------------------------------------------ experience ------*/
.modified-row {
  margin-left: -15px;
  margin-right: -15px;
}
.modified-container {
  padding-left: 0px;
  padding-right: 0px;
}
/*--------------------------------------------------- end of experience --------*/
} 
/*------------------------------ END OF (min-width: 360px) (orientation: landscape)---*/


@media screen and (min-width: 360px) and (max-width: 767px) and (orientation: portrait) { 
/*-------------------------------------------------------------- index --------*/
      #index-display {
        margin-top: 10%;
        margin-left: 3%;
      }
/*---------------------------------------- Heading Logo --*/
      .fa-angle-double-left {
        font-size: 2.5em;
      }
      .fa-angle-double-right {
        font-size: 1em;
      }
      .fa-running {
        display: none;
        font-size: 2.1em;
        align-self: center;
      }
      #backtothefitness {
        font-size: 1.5em;
      }
      .navbar {
        margin-right: 50px;
      }
      .nav-top-title {
        padding-left: 5px;
        padding-right: 5px;
      }
/*---------------------------------- End of Heading Logo --*/

/*------------------------------------------- Navigation --*/
      #bars-icon {
        top: 10px;
      }
      .dropdown-content {
        top: 66px;
        right: 14px;
        font-size: medium;
      }
      .dropdown-item {
        padding: 5px;
      }
/*------------------------------------ End of Navigation --*/

/*-------------------------------------------------------------- About --------*/
/*position: relative;
        overflow: hidden;*/

      #nav-about {
        min-height:100vh;
        background-attachment: scroll;
        padding:0;
        margin: 0;
      }

      #nav-about:before {
        background-image: linear-gradient(black, black), url(../images/experience/img-training3.JPG);
        background-blend-mode: saturation;
        background-position: center;
        background-size: cover;
        min-height:102vw;
        transform: rotate(90deg);
        content: "";
        position: absolute;
        width: 220%;
        top: 27%;
        left: -60%;
        z-index: -1;
        padding:0;
        margin: 0;
      }
      /*#nav-about {
        background-image: linear-gradient(black, black), url(../images/experience/img-climb3.JPG);
        background-blend-mode: saturation;
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        padding:0;
        margin: 0;
        min-height:100vh;
      }*/
      #profile-img {
        display:none;
      }
      .jumbotron-carousel-inner {
        display: none;
      }
      .carousel-caption {
        display: none;
      }
      .carousel-indicators li {
        width: 40px;
        height: 5px;
        margin-right: 3px;
        margin-left: 3px;
      }
      .carousel-indicators {
      margin-bottom: 3px;
      }
      .modified-container {
        padding-left: 0px;
        padding-right: 0px;
      }
      .modal {
        margin: 5px;
      }
/*-------------------------------------------------------- End of About --------*/

/*------------------------------------------------------------ experience ------*/
      .modified-row {
        margin-left: -15px;
        margin-right: -15px;
      }

/*--------------------------------------------------- end of experience --------*/
} 
/*------------------------- END OF (min-width: 360px) (orientation: portrait)---*/


/* ================================================ mobile phone Horzonal ======*/
@media screen and (min-width: 576px) {

      .modal-dialog {
          min-width: 660px; /*formerly at 730px*/
          max-width: none;
        }
}
/*--------------------------------------------------END OF (min-width: 576px)---*/

/* ========================735================================= mobile phones === */
@media screen and (min-width: 811px) and (max-width: 825px) and (orientation: landscape) {
  /*---------------------------------------- Heading Logo --*/
  .fa-angle-double-left {
    font-size: 2.5em;
  }
  .fa-angle-double-right {
    font-size: 1em;
  }
  .fa-running {
    display: block;
    font-size: 2.1em;
    align-self: center;
  }
  #backtothefitness {
    font-size: 1.5em;
  }
  .navbar {
    margin-right: 50px;
  }
  .nav-top-title {
    padding-left: 5px;
    padding-right: 5px;
  }
/*---------------------------------- End of Heading Logo --*/
  /*------------------------------------------- Navigation --*/
  #bars-icon {
    top: 10px;
  }
  .dropdown-content {
    top: 66px;
    right: 14px;
    font-size: medium;
  }
  .dropdown-item {
    padding: 5px;
  }
/*------------------------------------ End of Navigation --*/
/*-------------------------------------------------------------- About --------*/
  .col-md-4 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-8 {
    flex: 0 0 35.333333%;
    max-width: 35.333333%;
  }
  .container-about {
    margin-bottom: 0px;
    margin-top: 0;
  }
#profile-img {
  display: block;
  background-position: top;
  background-size: cover;
}
.jumbotron-carousel-inner {
  display: block;
}
/*-------------------------------------------------------- End of About --------*/
/*-------------------------------------------------------------- About --------*/
.service-block {
  min-width: 375px;
}
}


/*------------------------------ END OF (max-width: 825px) (orientation: landscape)---*/

/* ========================================================= mobile phones === */
@media screen and (min-width: 730px) and (max-width: 811px) and (orientation: landscape) {
/*-------------------------------------------------------------- About --------*/
.col-md-4 {
  flex: 0 0 80%;
  max-width: 80%;
}
.col-md-8 {
  flex: 0 0 47%;
  max-width: 47%;
}
.container-about {
  margin-bottom: 0px;
  margin-top: 0;
}
#profile-img {
display: block;
background-position: top;
background-size: cover;
}
.jumbotron-carousel-inner {
display: block;
}
.modified-container {
margin-left: 25px;
margin-right: 0px;
}
/*-------------------------------------------------------- End of About --------*/
}
/*------------------------------ END OF (max-width: 811px) (orientation: landscape)---*/





/* =================================== Mini-Tablet / mobile phone Horzonal======*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
/*-------------------------------------------------------------- index --------*/
/*---------------------------------------- Heading Logo --*/
      .fa-angle-double-right {
        font-size: 2em;
      }
      .fa-angle-double-left {
        font-size: 5em;
      }
      .fa-running {
        font-size: 4em;
        align-self: center;
        display:block;
      }
      #backtothefitness {
        font-size: 3em;
      }
      .navbar {
        margin-right: 80px;
      }
/*---------------------------------- End of Heading Logo --*/

/*------------------------------------------- Navigation --*/
      #bars-icon {
        top: 50px;
      }
      .dropdown-content {
        top: 104px;
        right: 43px;
        font-size: large;
      }
  
/*-------------------------------------------------------------- About --------*/
      #profile-img {
        display: flex;
        background-position: bottom;
        background-size: contain;
      }
      .jumbotron-carousel-inner {
        display: flex;
      }
      .frontabout {
        align-items: flex-start;
      }
      .modified-container {
        max-width: 780px;
        padding-right: 0px;
      }
/*-------------------------------------------------------- End of About --------*/

/*------------------------------------------------------------ experience ------*/
      .carousel-caption {
        display: block;
      }
      .carousel-indicators li {
        width: 70px;
        height: 10px;
        margin-right: 10px;
        margin-left: 10px;
      }
      .carousel-indicators {
        margin-bottom: 20px;
        }
/*--------------------------------------------------- end of experience --------*/
}
/*--------------------------------------------------END OF (min-width: 768px)---*/


/* ======================================================  Tablet portrat ======*/
@media screen and (min-width: 992px) {
/*-------------------------------------------------------------- About --------*/
      .frontabout {
        align-items: center;
      }
      .modified-container {
        max-width: 960px;
      }
/*-------------------------------------------------------- End of About --------*/
}
/*--------------------------------------------------END OF (min-width: 960px)---*/


/* ====================================================== Tablet Horzonal ======*/
@media screen and (min-width: 1024px) {
/*-------------------------------------------------------------- About --------*/
      #profile-img {
        background-position: top;
        background-size: cover;
      }
      .modified-container {
        padding-right: 15px;
      }
/*-------------------------------------------------------- End of About --------*/

/*------------------------------------------------------------ experience ------*/
.carousel-caption {
  display: block;
}
/*--------------------------------------------------- end of experience --------*/

  
.modal-dialog{
  max-width: 980px;
  }


  /*---------------------------------------------------------- Testimonials ---*/
  .fa-star-half-alt {
  transform: rotate(-90deg);
  }
  .fa-star {
  transform: rotate(-10deg);
  }
  .reversed {
  display: flex;
  flex-direction: row-reverse;
  }
  .stars {
  flex-direction: column-reverse;
  margin-bottom: 0px;
  }
  .nothorzright {
  width:1px;
  height:130px;
  }
  .nothorzleft {
  width:1px;
  height:130px;
  }
  .quoteblock-right {
  justify-content: flex-end;
  }
  .quoteblock-left {
  justify-content: flex-start;
  }
.round-images {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}
.flex-container {
  display: flex;
  align-items: center;
  padding: 15px;
}
.nothorzright {
  border-left: 3px solid coral;
  border-top: 0;
  padding: 10px;
  margin: 0;
}
.nothorzleft {
  border-right: 3px solid coral;
  border-top: 0;
  padding: 10px;
  margin: 0;
}
.media-body {
  min-height: 130px;
}
/*--------------------------------------------------- end of Testimonials ---*/
}
/*-------------------------------------------------END OF (min-width: 1024px)---*/

/*======================================================= destop computers ==== */
  @media screen and (min-width: 1280px) { 

  .modal-dialog{
  max-width: 1250px;
  }
  .modal-open {
    padding-right: 0px!important;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media screen and (min-width: 1440px) { 
.modal-dialog{
  max-height: 100%;
}  


}





/*------------- Testimonials ------------*/
/* orientation
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }*/